.container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}